
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');


*{  
    margin: 0;
    padding: 0;
    font-family: "Orelega One";
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, rgba(236, 216, 171, 1), rgba(239, 196, 99, 0.8));
    /* height: 100%; */
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
}


/* header and navbar style */
.header{
    position: relative;
    width: 100%;
    height: 120px;
    padding-left: 40px;
    padding-right: 40px; 
    background: linear-gradient(to bottom,#460F0F ,#221212 );
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transition: top 2s ease;
}

.scrollable-header {
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    width: 100px; 
    height: 100px; 
    border: 1mm ridge rgba(236, 172, 107, 0.6);
    border-radius: 50%;
    margin-left: 20px; 
}

.logo:hover {
    border-color: rgb(241, 201, 109);
    box-shadow: 0px 0px 50px 0px rgb(255, 255, 152);
}

.navbar {
    display: flex;
    justify-content: flex-end; 
}

.navbar > ul {
    list-style: none;
}

.navbar > ul > li {
    display: inline-block;
    margin: 0 20px; 
    position: relative;
}

.navbar > ul > li > a {
    text-decoration: none;
    color:#efefef;
    font-size: 30px;
    padding: 10px 20px; 
    border-radius: 20px; 
    background-color: rgba(178, 25, 25, 0.3); 
    transition: background-color 0.5s ease; 
}

.navbar ul li a:hover {
    color: #460F0F;
    border-bottom: 5px solid rgb(241, 201, 109);
}

.navbar > ul > li > a:hover {
    background-color: rgba(236, 216, 171, 0.8); 
    box-shadow: 0px 0px 50px 0px rgb(255, 255, 152);
}



/* Section 1 style */







/* Footer Style */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #460F0F;
}

.footer .footer_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 30px;
}

.footer_row .footer_col {
    flex: 1 1 20%; 
}

.footer_row .footer_col h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.footer_row .footer_col h4:hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 152, 0.8);
}

.footer_col .fill {
    margin-top: 10px;
}

.footer_col .fill li, .footer_col h4 {
    list-style: none;
    margin-bottom: 5px;
    color: #bfbfbf;
}

.footer_col .fill li a {
    text-decoration: none;
    color: #bfbfbf;
}

.footer_col .fill li a:hover {
    color: #fff;
}

.footer_col p {
    margin: 10px 0;
    color: #bfbfbf;
    max-width: 300px;
}

.footer_col form {
    display: flex;
    gap: 5px;
}

.footer_col input {
    height: 30px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 5px;
}

.footer_col input::placeholder {
    color: #ccc;
}

.footer_col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.footer_col form button:hover {
    background: #cecccc;
}

.footer_col .icons {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    cursor: pointer;
}

.footer_col .icons i {
    color: #afb6c7;
}

.footer_col .icons i:hover  {
    color: #fff;
}

.footer_col img {
    display: block;
    margin: auto;
    width: 40%; 
    max-height: 100%; 
    border-radius: 50%;
    transition: box-shadow 0.3s ease; 
}

.footer_col img:hover {
    box-shadow: 0 0 10px rgba(206, 204, 204, 0.8); 
}


  

